.navbar {
  background-color: #0d6efd;
  padding: 15px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}
.navbar-nav .nav-item .nav-link:hover {
  border: none;
  outline: none;
}
ul.navbar-nav {
  gap: 20px;
}
.nav-link {
  color: black;
  border: none;
  background-color: hsl(216, 100%, 84%);
}

.navbar-nav .nav-link.active {
  background-color: #193661;
  color: #ffffff;
  /* outline: 1px solid red; */
}

.nav-link:hover {
  background-color: #193661;
  color: #ffffff;
  border: 3px solid #0d6efd;
}

@media (max-width: 575px) {
  .navbar-outline {
    border: 2px solid #0d6efd;
    width: 100%;
    height: 222px;
  }

  .navbar {
    width: 200px;
  }

  .nav-link {
    color: black;
    font-weight: bold;
    margin-top: 8px;
    width: 100%;
    background-color: hsl(216, 100%, 84%);
  }
}
