<div class="navbar-outline">
  <nav class="navbar navbar-expand-sm">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <button class="nav-link btn-primary active" [routerLink]="['/alphabets']">Alphabets</button>
        </li>
        <li class="nav-item">
          <button class="nav-link btn btn-primary" [routerLink]="['/numbers']">Numbers</button>
        </li>
        <li class="nav-item">
          <button class="nav-link btn btn-primary" [routerLink]="['/animals']">Animals</button>
        </li>
        <li class="nav-item">
          <button class="nav-link btn btn-primary" [routerLink]="['/objects']">Object</button>
        </li>
        <li class="nav-item">
          <button class="nav-link btn btn-primary" [routerLink]="['/poems']">Poems</button>
        </li>
      </ul>
    </div>
  </nav>
</div>


<div class="container-fluid p-0">
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>