<div class="container-fluid p-0 d-flex">
    <div class="container mt-5">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/src/assets/Images/Landing/Alphabets.jpg" alt="Alphabet Leters">
            <div class="card-body">
                <h5 class="card-title">Alphabets</h5>
                <a href="#" [routerLink]="['/alphabets']" class="btn btn-primary fw-bold">Visit Page</a>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/src/assets/Images/Landing/Numbers.jpg" alt="Numbers">
            <div class="card-body">
                <h5 class="card-title">Numbers</h5>
                <a href="#" [routerLink]="['/numbers']" class="btn btn-primary fw-bold">Visit Page</a>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/src/assets/Images/Landing/Objects.jpg" alt="Objects">
            <div class="card-body">
                <h5 class="card-title">Objects</h5>
                <a href="#" [routerLink]="['/objects']" class="btn btn-primary fw-bold">Visit Page</a>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/src/assets/Images/Landing/Poems.jpg" alt="Poems">
            <div class="card-body">
                <h5 class="card-title">Poems</h5>
                <a href="#" [routerLink]="['/poems']" class="btn btn-primary fw-bold">Visit Page</a>
            </div>
        </div>
    </div>
</div>